.albums-container {
  width: 100%;
  justify-content: center;
}

.grid-container {
  padding-top: 2vh;
  padding-bottom: 7vh;
}

.search-row {
  padding-bottom: 2vh;
}

.album-card {
  transition: transform 0.3s ease-in-out;
}

.album-card:hover {
  transform: scale(1.05);
  cursor: grab;
}

.album-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.album-artist {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.album-artist:hover {
  text-decoration: underline;
}

// Limit the width of the container to 2000px so on ultra wide screens the content doesn't stretch too far
.container-fluid {
  max-width: 2000px;
}