.album-wrapper {
  height: 100%;
  width: 100%;
  justify-content: center;
}

.album-content {

  justify-content: center;
  justify-items: center;

}

.album-container {
  margin-top: 4vh;
  padding: 2vh 2rem;
}

.journalist-review-pane {
}

.info-stats {
  display: flex;
  align-items: center;
}

.title-artist-section {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.journalist-pfp {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  align-content: center;
}

/* Additional spacing for mobile devices */
@media (max-width: 768px) {
  .album-container {
    padding: 2rem 1rem;
  }
  .album-content {
    margin-bottom: 1.5rem;
  }
}

.review-card {
  transition: all 0.4s ease-in-out;
}

.border-right {
  border-right: 1px solid $secondary;
}

.review-full-container {
  overflow: hidden;
  transition: height 0.8s ease-in-out;
}

.read-more-btn {
  text-decoration: none;
  cursor: pointer;
}

.read-more-btn:hover {
  text-decoration: underline;
}

.artist-name {
  cursor: pointer;
}

.artist-name:hover {
  text-decoration: underline;
}

.review-modal-body {
  max-height: 70vh;
}

.review-modal-review-preview {
  max-height: 50vh;
  overflow-y: auto;
}

.journalist-name {
  cursor: pointer;
}

.journalist-name:hover {
  text-decoration: underline;
}

.journalist-profile-picture {
  width: 130px;
  height: 130px;
  object-fit: cover
}