.album-wrapper {
  height: 100%;
  width: 100%;
  justify-content: center;

  .album-container {
    margin-top: 4vh;
    padding: 2vh 2rem;

    .album-content {
      justify-content: center;
      justify-items: center;
    }

    .album-info {
      .genre {
        cursor: pointer;
      }

      .genre:hover {
        text-decoration: underline;
      }

      .title-artist-section {
        padding-top: 2rem;
        padding-bottom: 1rem;

        .artist-name {
          cursor: pointer;
        }

        .artist-name:hover {
          text-decoration: underline;
        }
      }


    }


  }

  #journalist-review {


    .review-card {
      transition: all 0.4s ease-in-out;
    }

    .journalist-name {
      cursor: pointer;
    }

    .journalist-name:hover {
      text-decoration: underline;
    }

    .journalist-profile-picture {
      width: 130px;
      height: 130px;
      object-fit: cover
    }

    .read-more-btn {
      text-decoration: none;
      cursor: pointer;
    }

    .read-more-btn:hover {
      text-decoration: underline;
    }

    .review-full-container {
      overflow: hidden;
      transition: height 0.8s ease-in-out;
    }

  }
}


/* Additional spacing for mobile devices */
@media (max-width: 768px) {
  .album-container {
    padding: 2rem 1rem;
  }
  .album-content {
    margin-bottom: 1.5rem;
  }
}



