
.artist-page-wrapper {
  .genre:hover {
    text-decoration: underline;
  }

  .genre {
    cursor: pointer;
  }

  .album-card {
    transition: transform 0.3s ease-in-out;

    .journalist-name {
      cursor: pointer;
    }

    .journalist-name:hover {
      text-decoration: underline;
    }
  }

  .album-card:hover {
    transform: scale(1.05);
    cursor: grab;
  }


}