.album-card {
  transition: transform 0.3s ease-in-out;
}

.album-card:hover {
  transform: scale(1.05);
  cursor: grab;
}

.journalist-name {
  cursor: pointer;
}

.journalist-name:hover {
  text-decoration: underline;
}